@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 7, 47, 47;
  --background-end-rgb: 7, 47, 47;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: var(--font-inter), sans-serif;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}

@layer utilities {
  .glass-panel {
    @apply bg-cards bg-opacity-80 backdrop-blur-md border border-white/10 rounded-2xl shadow-xl;
  }
}
