-- CreateTable
CREATE TABLE "Intake" (
    "id" SERIAL NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "age" INTEGER,
    "gender" TEXT,
    "height" DOUBLE PRECISION,
    "weight" DOUBLE PRECISION,
    "occupationType" TEXT,
    "dietBreakfast" TEXT,
    "dietLunch" TEXT,
    "dietDinner" TEXT,
    "dietSnacks" TEXT,
    "dietSnacksTime" TEXT,
    "bedTime" TEXT,
    "wakeUpTime" TEXT,
    "waterGlasses" INTEGER,
    "exerciseInfo" TEXT,
    "eyeCondition" TEXT,
    "wearsSpectacles" BOOLEAN,
    "symptomText" TEXT,
    "healthGoals" TEXT,
    "name" TEXT,
    "email" TEXT,
    "phone" TEXT,

    CONSTRAINT "Intake_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IntakeSymptom" (
    "id" SERIAL NOT NULL,
    "intakeId" INTEGER NOT NULL,
    "symptom" TEXT NOT NULL,

    CONSTRAINT "IntakeSymptom_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IntakeCondition" (
    "id" SERIAL NOT NULL,
    "intakeId" INTEGER NOT NULL,
    "condition" TEXT NOT NULL,

    CONSTRAINT "IntakeCondition_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IntakeGoal" (
    "id" SERIAL NOT NULL,
    "intakeId" INTEGER NOT NULL,
    "goal" TEXT NOT NULL,

    CONSTRAINT "IntakeGoal_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "IntakeSymptom_intakeId_idx" ON "IntakeSymptom"("intakeId");

-- CreateIndex
CREATE INDEX "IntakeCondition_intakeId_idx" ON "IntakeCondition"("intakeId");

-- CreateIndex
CREATE INDEX "IntakeGoal_intakeId_idx" ON "IntakeGoal"("intakeId");

-- AddForeignKey
ALTER TABLE "IntakeSymptom" ADD CONSTRAINT "IntakeSymptom_intakeId_fkey" FOREIGN KEY ("intakeId") REFERENCES "Intake"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IntakeCondition" ADD CONSTRAINT "IntakeCondition_intakeId_fkey" FOREIGN KEY ("intakeId") REFERENCES "Intake"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IntakeGoal" ADD CONSTRAINT "IntakeGoal_intakeId_fkey" FOREIGN KEY ("intakeId") REFERENCES "Intake"("id") ON DELETE CASCADE ON UPDATE CASCADE;

